.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    /* margin-top: 25px; */
    padding: 0px;
    width: 1324px;
    /* height: auto; */
    /* height: fit-content; */
    position: relative;
}

.display-aboutme {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 50px;    
    margin-top: 25px;
}

.desc-aboutme {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%;
    border-radius: 22px;
    gap: 25px;
    background: #F8F1E5;
}

.font-16-semibold {
    font-weight: 600;
    font-size: 16px;
    color: #426E86;
    width: max-content;
}

.periode-aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 5px 30px;
    width: max-content;
    line-height: 18px;
    background: #426E86;
    border-radius: 53px;
}

.date-periode-aboutme {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #F8F1E5;
}

.list-aboutme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1198px;
    gap: 35px;
}

.star {
    top: 0;
}

.periode-aboutme-right {
    filter: drop-shadow(7px 9px 8px rgba(0, 0, 0, 0.25));
}

.periode-aboutme-left {
    filter: drop-shadow(-7px 9px 8px rgba(0, 0, 0, 0.25));
}

.desc-aboutme-left {
    align-items: end;
    padding: 15px 40px;
    filter: drop-shadow(2px -2px 6px rgba(0, 0, 0, 0.06)) drop-shadow(-7px 7px 20px rgba(0, 0, 0, 0.15));
}

.desc-aboutme-right {
    align-items: start;
    padding: 15px 40px;
    filter: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.15)) drop-shadow(-2px -2px 6px rgba(0, 0, 0, 0.06));
}

.title-aboutme-left {
    text-align: right;
}

.title-aboutme-right {
    text-align: left;
}

.major-aboutme-left {
    text-align: right;
}

.gpa {
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: #426E86;
}

.list-activities {
    font-weight: 500;
    font-size: 12px;
    line-height: 36px;
    color: #426E86;
}

.desc-univ {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-desc-left {
    display: flex;
    justify-content: flex-end;
    width: 450px;
}

.container-desc-right {
    display: flex;
    justify-content: flex-start;
    width: 450px;
}

