.social-media-logo {
    height: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 213.61px;
    margin-bottom: 58px;
    gap: 60px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9.5px;
    width: 100%;
}

.bottom-dev {
    margin-top: -75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9.5px;
    width: 100%;
}

#copy {
    height: 11.752098083496094px;
    width: 12.5px;
    left: 551px;
    top: 2501px;
    border-radius: 0px;
}

.by {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 24px;
}

.mail {
    position: fixed;
    right: 59px;;
    bottom: 72px;
}
