.list-languanges-left {
    display: flex;
    justify-content: flex-start;
    gap: 42px;
}

.list-languanges-right {
    display: flex;
    justify-content: flex-end;
    gap: 37px;
}

.display-languages {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -250px;
    margin-bottom: 50px;
    
}