.tag {
    width: 46px;
    height: 10px;
    font-weight: 600;
    font-size: 14.6475px;
    color: #F8F1E5;
}

.form-half {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.group-half {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 51.93px;
    width: 451.41px;
}

.line-full {
    box-sizing: border-box;
    width: 452.74px;
    height: 23.97px;
    border-bottom: 1.33159px solid #F8F1E5;
}

.group-full-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.group-full-mes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 452.74px;
    height: 330.23px;
}

.img-contact-me {
    width: 392.82px;
    height: 509.83px;
    left: 0px;
    top: 0px;
}

.popup-style {
    width: 1004.02px;
    height: 330.23px;
    background: #426E86;
    border-radius: 199.739px;
}

.container-popup {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    gap: 26.63px;
}

.group-popup {
    width: 1004.02px;
    height: 510px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.mail:hover {
    cursor: pointer;
}

.modal-dialog {
    width: 1004.02px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-close {
    display: flex;
    flex-direction: row;
    gap: 114.52px;
}

.close {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 330.23px;
}

.close-img:hover {
    cursor: pointer;
}

.modal-content {
    background-color: transparent;
    border-color: transparent;
}


.form-control {
    border: none;
    border-bottom: 1.33159px solid #F8F1E5;
    border-radius: 0%;
    background-color: transparent;
}

.form-control:focus {
    border-color: #F9BA32;
    background-color: transparent;
    box-shadow: none;
    color: #F9BA32;
}

.btn-send {
    background: #F9BA32;
    color: #426E86;
}

.btn-send:hover {
    background-color: #f9c451;
    color: #426E86;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #426E86 inset !important;
}