.services {
    min-height: 100vh;
}

.title-services {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-services {
    width: 463px;
    height: 371px;
    display: block;
}

.services-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 381px;
    height: 134px; 
}

.coal-font{
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;  
    color: #2F3131;
}

.yellow-font{
    font-weight: 600;
    font-size: 40px;
    line-height: 36px;
    color: #F9BA32;
}

.desc-font {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #303030;
}

.group-services {
    width: 575px;
    height: 339px;
    display: flex; 
    justify-content: space-between; 
}

.group-services2 {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.group-services1 {
    display: flex;
    align-items: center;
}

.sub-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 276px;
    height: 154px;

    background: #F8F1E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 40px;

    color: #2F3131;

    position: relative;
}

.job-services {
    width: 228px;
    height: 26px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 109%;
}

.job-desc-services {
    width: 228px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.icon {
    height: 62px;
    position: absolute;
    top: -21px;
    left: -14px;
}

@media only screen and (max-width:1024px)
{
    .group-services {
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        gap: 31px;
    }
}
